{{yield}}
<div class="post">
    <div class="user">
        <p><img src={{user.icon}} class="usericon"></p>
        <p>{{user.id}}</p>
        {{log}}
    </div>
    <div class="content">
        <p>{{model.content}}</p>
    </div>
</div>