<div class="threadOverview">
		<span class="threadTitle">
			<img src="{{user.icon}}" class="usericon"> {{model.owner}} -
			<LinkTo @route="post" @model={{model.id}}>
			{{model.id}}
			</LinkTo>
		</span>
		<span class="postCount">
			{{model.posts}}
		</span>

</div>